@model Animals.Models.GetAllAnimalViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Animals 
    @if (@Model.Lang.Length == 0) {
        <span>(@Html.ActionLink("Login", "Login", "Account"))</span>
    } else
    {
        <span>(User Lang: @Model.Lang)</span>
    }
</h2>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Animal Name</th>
        <th>Type</th>
    </tr>
    @foreach (var animal in Model.Animals)
    {
        <tr>
            <td>@animal.Id</td>
            <td>@animal.Name</td>
            <td>@animal.Type</td>
        </tr>
    }
</table>

